<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Dash</title>
    <!-- CDN link to bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="assets/styles/gamestyle.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="media/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="media/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="media/images/favicon_io/site.webmanifest">
</head>

<body>
    <div class="position-relative container-fluid p-0">
        <!-- Modal -->
        <div class="modal text-center pop-out" tabindex="-1" id="gamerules" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rules_title">GAME RULES</h5>
                    </div>
                    <div class="modal-body d-flex" id="rules_body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn custom-btn" id="start">START</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal text-center pop-out" tabindex="-1" id="random_word_modal" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">CHOOSE A WORD</h5>
                    </div>
                    <div class="modal-body" id="modal_body">
                        <div id="word_body" class="d-flex"></div>
                        <p class="text-danger mt-4 d-none">Select A Word</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn custom-btn back-home">EXIT</button>
                        <button type="button" class="btn custom-btn" id="word_start">DRAW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal text-center pop-out" tabindex="-1" id="scoreboard" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scoreboard_title">Game Score Board</h5>
                    </div>
                    <div class="modal-body">
                        <div id="scoreboard_body" class="d-flex"></div>
                        <p class="text-danger mt-4 d-none"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn custom-btn" id="start_again">START AGAIN</button>
                        <button type="button" class="btn custom-btn back-home">HOME</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader-wrapper d-none">
            <div class="loader"></div>
            <span id="start_guessing"></span>
        </div>

        <div class="d-flex align-items-center mt-5 mx2 game-container">
            <div class="position-absolute top-0 end-0 mx-3 back-home d-none">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0,0,256,256"
                    style="fill:#000000;">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <g transform="scale(10.66667,10.66667)">
                            <path
                                d="M12,2c-0.26712,0.00003 -0.52312,0.10694 -0.71094,0.29688l-10.08594,8.80078c-0.12774,0.09426 -0.20313,0.24359 -0.20312,0.40234c0,0.27614 0.22386,0.5 0.5,0.5h2.5v8c0,0.552 0.448,1 1,1h4c0.552,0 1,-0.448 1,-1v-6h4v6c0,0.552 0.448,1 1,1h4c0.552,0 1,-0.448 1,-1v-8h2.5c0.27614,0 0.5,-0.22386 0.5,-0.5c0.00001,-0.15876 -0.07538,-0.30808 -0.20312,-0.40234l-10.08008,-8.79492c-0.00194,-0.00196 -0.0039,-0.00391 -0.00586,-0.00586c-0.18782,-0.18994 -0.44382,-0.29684 -0.71094,-0.29687z">
                            </path>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="d-none d-flex flex-column" id="start_game">
                <div class="canvas-container">
                    <div class="position-relative">
                        <canvas class="canvas-board" id="canva_board"></canvas>
                        <div class="canvas-head position-absolute top-0">
                            <button id="undo">Undo</button>
                            <button id="redo">Re-do</button>
                            <span class="position-relative" id="display_text">Word</span>
                            <input type="color" name="" id="">
                            <input type="hidden" name="word" id="hidden_word">
                        </div>
                        <button id="clear" class="position-absolute">Clear</button>
                        <!-- <span class="position-absolute" id="start_guessing"></span> -->
                        <div class="word-container text-center mb-2 mt-2">
                            <div id="timer" class="mb-4"></div>
                            <div id="wordContainer">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="players-list-container" id="player_list">
                    <!-- <div id="countdown_timer">Time left: <span id="countdown">15</span> seconds</div> -->
                </div>
                <div class="type-guess-container position-relative d-none" id="typebox">
                    <div class="chat-container">
                        <ul id="chat_list" class="px-2 mb-0">

                        </ul>
                    </div>
                    <form id="guess_submit" class="d-flex">
                        <input type="text" name="type-guess" id="type_guess" class="type-guess"
                            placeholder="Type your guess">
                        <input type="image" src="/media/images/submit.png" alt="Submit" class="image-submit"
                            type="submit_guess_icon">
                    </form>
                </div>
                <div id="submit_drawing" class="d-none">
                    <button type="button" class="btn custom-btn" id="add_drawing_btn">Add Drawing</button>
                </div>
            </div>

            <div class="count-container m-3 d-none">
                <div id="guess_count">0</div>
                <!-- Correct Guesses -->
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/privateDrawing.js"></script>
    <script>
        document.getElementById("type_guess").focus();
        window.addEventListener('load', function () {
            // Check if there is an active session (you need to implement this logic)
            const activeSession = localStorage.getItem('drawdash_user');

            // If there is no active session, redirect to the main URL
            if (!activeSession) {
                window.location.href = '/'; // Replace '/main-url' with your main URL
            }
        });
        $(document).ready(function () {
            const constantModes = ['solo', 'private', 'contribute', 'sketch']
            $('#gamerules').modal({ backdrop: 'static', keyboard: false })
            $('#gamerules').modal('show');
            // Get the hash fragment from the URL
            const hashFragment = window.location.hash;
            const count = { 'count': 3 };
            // Remove the '#' character from the hash fragment
            const mode = hashFragment.substring(1); // Remove the '#' character
            // Check if the current URL matches the pattern "/play/*"
            if (window.location.pathname.startsWith('/play')) {
                // Check if there are additional parameters or paths after "/play"
                if (!constantModes.includes(mode) || window.location.search) {
                    // Redirect to the "/home" URL if there are additional parameters or paths
                    window.location.href = '/home';
                }
            }
            function startCountdownForSoloPlay() {
                $('.loader-wrapper').removeClass('d-none');
                var countdownElement = document.getElementById("start_guessing");
                var count = 3;
                countdownElement.innerHTML = "Start Guessing in " + count;

                var countdownInterval = setInterval(function () {
                    count--;
                    countdownElement.innerHTML = "Start Guessing in " + count;
                    if (count === 0) {
                        countdownElement.innerHTML = "";
                        soloPlay();
                        clearInterval(countdownInterval);
                        // Add code here to start the game after the countdown finishes
                    }
                }, 1000); // Update countdown every 1 second
            }
            if (mode == 'solo') {
                $('#clear').addClass('d-none');
                $('.canvas-head').addClass('d-none');
                $('#typebox').removeClass('d-none');
                $('#rules_body p').text('Guess as many as words you can in 120s. Each round lasts 15 seconds maximum');
            }
            else if (mode == 'private') {
                $('#typebox').removeClass('d-none');
                $('#rules_body p').text('Create Your Private Room');
            }
            else if (mode == 'contribute') {
                $('.canvas-head').addClass('d-none');
                $('#player_list').addClass('d-none');
                $('#submit_drawing').removeClass('d-none');
                $('#rules_body p').text('Draw for a word');
            }
            else {
                window.location.href = '/home';
            }
            let active = false;
            $('#random_word_modal').on('click', '.random-word-btn', function () {
                $('.random-word-btn').removeClass('selected');
                $(this).toggleClass('selected');
                active = true;
            })
            $('#start').click(function () {
                $('#gamerules').modal('hide');
                if (mode == 'solo') {
                    startCountdownForSoloPlay();
                }
                else if (mode == 'contribute' || mode == 'public') {
                    generateRandomWords();
                    if (mode == 'contribute') {
                        drawing();
                    }
                    else if (mode == 'private') {
                        joinRoom();
                    }
                }
                $('#start_game').removeClass('d-none');
                $('.count-container').removeClass('d-none');
                $('.back-home').removeClass('d-none');
            })

            $('#word_start').click(function () {
                if ($('.random-word-btn').hasClass('selected')) {
                    $('#random_word_modal').modal('hide');
                    $('#modal_body p').addClass('d-none');
                }
                else {
                    $('#modal_body p').removeClass('d-none');
                }
            })
            $('#start_again').click(function () {
                window.location.reload();
            });
            $('.back-home').click(function () {
                window.location.href = '/home';
            })
        })
    </script>
</body>

</html>