@font-face {
    font-family: 'sports-world';
    src: url('/assets/fonts/sports_world/Sports_World_Regular.otf') format('opentype');
}

/* html, */
body {
    /* width: 100%;
    height: 100%; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: url('/media/images/main_mixed.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    background-size: 100% 100%, 100% 100%;
}

.setting-img {
    background-image: url('/media/images/setting-white.png');
    background-repeat: no-repeat;
}

#game_banner {
    border: 1rem solid #F7941D;
    background-color: #343432;
    padding: 0.5rem;
    width: 50%;
}

.pop-out {
    animation: popOut 0.35s ease forwards;
    /* Pop-out animation */
}

.pop-in {
    animation: popIn 0.30s ease forwards;
    /* Pop-out animation */
}

@keyframes popOut {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0);
    }
}

.full-height {
    height: 100vh;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-top,
.board-head {
    align-items: center;
    justify-content: center;
}

.board-head {
    background-color: #F7941D;
    height: 2rem;
    display: flex;
}

.white-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.l-dot {
    margin-right: auto;
}

.r-dot {
    margin-left: auto;
}

#sound_on,
#sound_off,
.setting-img,
#settings,
#contribute {
    cursor: pointer;
}

/* #contribute:hover{
    color: black;
    background: white;
} */
.modal-title,
.modal-footer {
    font-family: 'sports-world';
}

.mode-container,
.input-container {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-container {
    font-family: 'sports-world';
}

.input-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mode-btn {
    flex: 1 0 30%;
    background: none;
    color: white;
    cursor: pointer;
    margin: 0 2rem;
    transition: transform 0.01s ease;
}

.mode-btn:hover {
    transform: scale(1.2);
}

.mode-btn:hover .mode-txt {
    background-color: white;
    color: black;
}

.mode-txt {
    border: 1px solid white;
    border-radius: 0.5rem;
    font-family: 'sports-world';
}

.canvas-container,
.type-guess-container,
#submit_drawing,
.brush-container {
    margin-left: 2rem;
    margin-right: 2rem;
    animation: popOut 0.35s ease forwards;
}

.brush-container {
    background-color: #f0f0f0;
    /* background: white; */
    border-radius: 4px;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.25);
    width: 60vw;
}

.color-btn {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.current-color {
    border: 2px solid #40a9ff;
}

.color-container, .any-color-container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brushsize-container {
    background: white;
    width: 85%;
    border-radius: 1rem;
}

#brushSize {
    width: 60%;
}

canvas {
    cursor: pointer;
}

.canvas-board,
.type-guess {
    width: 60vw;
    height: 70vh;
    border: none;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
}

.canvas-container {
    /* width: 60vw;
    height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.undo-redo {
    left: 50%;
    transform: translateX(-50%);
}
#undo{
    margin-right: 24px;
}
#redo{
    margin-left: 24px;
}
.word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#undo,
#redo,
#clear,
#eraser,
#paint {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    font-family: Gilroy;
    font-weight: 500;
    line-height: 1;
}

#download {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    font-family: Gilroy;
    font-weight: 500;
    line-height: 1;
}

#download:hover,
#undo:hover,
#redo:hover {
    border: 1px solid white;
    background: #8652ca;
}

#download:hover svg .main-fill,
#undo:hover svg path,
#redo:hover svg path {
    fill: white;
}

#paint:hover svg path,
#eraser:hover svg path {
    fill: #3498db;
}

#paint:hover,
#eraser:hover {
    border: 1px solid #3498db;
}

#clear:hover svg path {
    fill: #F70F18;
}
.color-picker-container {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.color-picker-container input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
    cursor: pointer;
    content: '';
    border-radius: 50%;

}
.color-picker-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-radius: 50%;
    z-index: -9999;
}

.type-guess {
    height: 3rem;
    padding: 0 1rem;
    border-right: 0;
}

.image-submit {
    background-color: white;
    width: 48px;
    padding: 0.5rem;
    border: none;
}

.type-guess:focus {
    outline: none;
    border-color: #40a9ff;
}

.type-guess:focus+.image-submit {
    border-color: #40a9ff;
}

.custom-lg {
    font-size: 64px;
}

.custom-btn {
    font-family: 'sports-world';
    color: #FFDB01;
    --bs-btn-color: #fff;
    --bs-btn-bg: #F70F18;
    --bs-btn-border-color: #F70F18;
    --bs-btn-hover-color: #FFDB01;
    --bs-btn-hover-bg: #F70F18;
    --bs-btn-hover-border-color: #F70F18;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #FFDB01;
    --bs-btn-active-bg: #F70F18;
    --bs-btn-active-border-color: #F70F18;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFDB01;
    --bs-btn-disabled-bg: #F70F18;
    --bs-btn-disabled-border-color: #F70F18;
}

.random-word-btn {
    border: 1px solid #28a745;
    /* Default border color */
    color: #28a745;
    /* Default text color */
    background-color: transparent;
}

.random-word-btn.selected,
.random-word-btn:hover {
    background-color: #28a745;
    /* Change background color when selected */
    color: #fff;
}

#word_body {
    justify-content: space-evenly;
}

#start_guessing {
    font-family: 'sports-world';
    color: white;
    padding-left: 0.5rem;
    text-shadow: -1px 0 #F70F18, 0 1px #F70F18, 1px 0 #F70F18, 0 -1px #F70F18;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

#get_username {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.input-settings {
    font-family: 'Courier New', Courier, monospace;
}

#user_image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.input-settings {
    border-radius: 1.5rem;
    border: none;
}

.input-settings:focus {
    outline: none;
}

.avatar-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: stretch;
    justify-content: center;
}

.avatar-container {
    border-radius: 50%;
    /* Make it a circle */
    background-color: white;
    /* White background */
}

.icon-selected {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: black;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 50%;
}

.avatar-img {
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.custom-btn-2 {
    border: 1px solid white;
    border-radius: 1.5rem;
    color: white;
}

.custom-btn-2:hover {
    background: white;
    color: black;
}

/* Style for the word container */
#wordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    width: 36px;
    height: 36px;
}

.countdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    border: 2px solid #F70F18;
}

/* Style for each letter */
.letter {
    border-bottom: 2px solid black;
    width: 10px;
    /* Adjust the border color and thickness as needed */
    margin: 0 5px;
    /* Adjust the spacing between letters as needed */
}

#chat_list,
#guess_submit {
    position: absolute;
    width: 100%;
}

#chat_list {
    width: 100%;
    border-radius: 4px;
    z-index: 999;
    bottom: 0;
    max-height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#chat_list img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#chat_list::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none\9;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: "";
    pointer-events: none;
}

.chat-item {
    display: flex;
    align-items: center;
    font-size: small;
    list-style-type: none;
}

.guess-word-chat {
    font-size: small;
}

#guess_count,
.game-score {
    padding: 0.5rem;
    color: var(--primary-blue);
    border-radius: 4px;
    border: 2px solid rgb(217, 239, 255);
    background-color: rgb(240, 249, 255);
    text-align: center;
    font-weight: 600;
}

#guess_count {
    width: 60px;
    font-size: 2rem;
}

.back-home {
    cursor: pointer;
}

#scoreboard_body, #private_body, #create_room_body, #players_box{
    font-family: "Manrope", sans-serif;
}

#scoreboard_body p, #private_body p, #create_room_body p, #players_box p{
    color: #7e7e7e;
}

.stats {
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

#guess_percentage,
#final_guess_count {
    color: #F79327;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.d-24 {
    width: 24px;
    height: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.round-number{
    width: 50px;
    height: 50px;
}
#room_id, .round-number{
    color: #0091ff !important;
    border: 2px solid #0091ff;
}
#round_time, #rounds{
    color: #0091ff !important;   
}
.round-time{
    width: 50px;
    height: 50px;
    color: #7e7e7e;
}
#reduce_rounds, #add_rounds{
    width: 50px;
    height: 50px;
}
#countdownTimer{
    font-size: x-large;
    font-weight: bold;
    color: #7e7e7e;
}
#playersList{
    min-height: 240px;
}
.game-table{
    font-weight: bold;
}
.disable-hover{
    pointer-events: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
@media (max-width: 767px) {
    body {
        background-image: url('/media/images/floor.png'), url('/media/images/pd_background.svg');
    }

    .setting-img {
        background-image: url('/media/images/setting-black.png');
        background-repeat: no-repeat;
    }

    .custom-lg {
        font-size: 48px;
    }

    #game_banner {
        min-width: 95%;
    }

    .canvas-board,
    .canvas-container {
        height: 60vh;
        width: 80vw;
    }

    .type-guess,
    .brush-container {
        width: 80vw;
        border-right: 0;
    }

    .image-submit {
        position: relative;
        left: 0;
        border: 1px solid black;
        border-left: 0;
        background-color: white;
        width: 42px;
    }

    .word-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .game-container {
        flex-direction: column;
    }

    .score-container {
        position: fixed;
        bottom: 0;
    }

    .back-home svg g {
        fill: black;
    }
    #undo,
    #redo {
        border: 1px solid white;
        background: #8652ca;
    }

    #undo svg path,
    #redo svg path {
        fill: white;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}